/*////////////////////////////////////////////////////
  module
////////////////////////////////////////////////////*/

body {
  border-top:5px solid $primary-color;
}

img {
  &.medium {
    width:80px;
  }

  &.circle {
    border-radius: 1000px;
  }
}

.bg-colored {
  background-color: $primary-color;
}

footer {
  margin-top:3rem;
  padding:3rem 0 3rem;
  color:$white;
}

.padding-y{
  padding-top:2rem;
  padding-bottom:2rem;
}
@media screen and (max-width: 640px) {
  .padding-y{
    padding-top:1rem;
    padding-bottom:1rem;
  }
}


ul {
  list-style-type:none;
  margin-left:3.8rem;
  margin-right:2.2rem;
  margin-top:1.2rem;
  position:relative;
  left:-1rem;

  li{
    margin-bottom:0.5rem;
    &:before {
      position: absolute;
      left: -1.5rem;
      content: "#";
      font-weight:bold;
    }

    span.title{
      display:inline-block;
      padding-bottom:0.5rem;
    }
  }
}

/*////////////////////////////////////////////////////
  個別
////////////////////////////////////////////////////*/

.font-point {
  font-family: 'Lato', sans-serif;
}

img.circle-icon {
  margin:2rem 0 1rem;
}

.callout {
  border-top:none;
  //background-image:url("../img/a1180_016147.jpg");
  //background-size: 100% auto;


  //h1,p {
    //color:$white;
    //text-shadow: 2px 2px 10px $black;
  //}

  p.lead{
  }
}


.sns-column {
  li {
    display: inline-block;
    font-size: 30px;
    margin-left: 20px;
      &:before {
       content: '';
     }
     &:first-child {
      margin-left: 0;
    }
  }
}

footer {
  text-align: center;
  .sns-column {
    left: 0;
    display: inline-block;
    margin: 0;
    margin-top: 20px;
    li a {
      color: #fff;
    }
  }
}

  @media screen and (max-width: 640px) {
    .callout {
      background-size:auto 100%;
    }

    .medium-padding {
      padding-left:10px;
      padding-right:10px;
    }
  }
